<div class="container max-w-2xl mx-auto p-8 py-20 font-fira-code">
  <div class="md:flex justify-between items-center gap-10">
    <div>
      <h1 class="text-3xl">William Ravel</h1>
      <h2 class="text-primary-100">Freelance React / NodeJS / Clojure</h2>
    </div>
    <div class="flex gap-6 text-primary-50">
      <a href="" class="text-white">A propos</a>
      <a href="">CV</a>
      <a href="">Projets</a>
    </div>
  </div>
  <div class="max-w-2xl mt-24">
    <p>
      Développeur Front-end avec plus de 15 ans d’expérience, spécialisé dans la
      création d’interfaces utilisateur intuitives et performantes. Expert en
      JavaScript, React, CSS, HTML et accessibilité (WAI), avec une maîtrise
      approfondie de Node.js, PHP, Clojure et des bases de données (PostgreSQL,
      MySQL, Apache Solr). Compétent en architectures modernes (Hexagonale,
      DDD), méthodologies Agile/TDD, et outils comme Google Cloud Platform et
      GitLab. Engagé dans l’innovation et la veille technologique pour livrer
      des solutions de haute qualité.
    </p>
  </div>
</div>
