<section class="bg-white border-b py-8" id="cv">
    <div class="container max-w-5xl mx-auto m-8">
      <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Mon CV</h2>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">William Ravel - Développeur Front-end & UX/UI</h3>
          <p class="text-gray-600 mb-4">Développeur Front-end avec plus de 15 ans d’expérience, spécialisé dans la création d’interfaces utilisateur intuitives et performantes. Expert en JavaScript, React, CSS, HTML et accessibilité (WAI), avec une maîtrise approfondie de Node.js, PHP, Clojure et des bases de données (PostgreSQL, MySQL, Apache Solr). Compétent en architectures modernes (Hexagonale, DDD), méthodologies Agile/TDD, et outils comme Google Cloud Platform et GitLab. Engagé dans l’innovation et la veille technologique pour livrer des solutions de haute qualité.</p>
  
          <!-- Contact -->
          <h4 class="text-2xl text-gray-800 font-semibold mt-6 mb-2">Contact</h4>
          <p class="text-gray-600 mb-4">Email : wravel@gmail.com<br />Téléphone : +33 6 19 19 89 67<br />GitHub : <a href="https://github.com/willahh" class="text-pink-500 underline">github.com/willahh</a></p>
  
          <!-- Compétences techniques -->
          <h4 class="text-2xl text-gray-800 font-semibold mt-6 mb-2">Compétences Techniques</h4>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Langages</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>Javascript</li>
                <li>TypeScript</li>
                <li>Clojure</li>
                <li>PHP</li>
                <li>CSS</li>
                <li>Java</li>
                <li>Bash</li>
                <li>Action-Script</li>
                <li>Emacs-Lisp</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Frameworks / Librairies</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>React</li>
                <li>Redux</li>
                <li>NextJS</li>
                <li>NestJS</li>
                <li>TypeORM</li>
                <li>Tailwind CSS</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>Ext-JS</li>
                <li>Semantic UI</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Systèmes de données et recherche</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>Apache Solr</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Plateformes et API</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>Google Cloud Platform (Dataflow, Storage, Pub Sub, Kubernetes)</li>
                <li>Gitlab (Board, Issues, CI/CD, API REST)</li>
                <li>Render.com</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Architectures</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>Hexagonale</li>
                <li>DDD</li>
                <li>Event-Driven</li>
                <li>MVC</li>
                <li>Trois tiers</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Testing & Méthodologies</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>TDD (Test Driven Development)</li>
                <li>BDD (Behaviour Driven Development)</li>
                <li>Agile</li>
                <li>Scrum (sprint planning, poker planning, rétros, …)</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Outils</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>Git</li>
                <li>SVN</li>
                <li>VSCode</li>
                <li>IntelliJ</li>
                <li>Emacs</li>
                <li>Eclipse</li>
                <li>Sublime</li>
              </ul>
            </div>
            <div>
              <h5 class="text-xl text-gray-700 font-medium mb-2">Outils graphiques</h5>
              <ul class="list-disc list-inside text-gray-600">
                <li>Figma</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Adobe InDesign</li>
                <li>Adobe XD</li>
              </ul>
            </div>
          </div>
  
          <!-- Expériences professionnelles -->
          <h4 class="text-2xl text-gray-800 font-semibold mt-6 mb-2">Expériences Professionnelles</h4>
          <ul class="list-disc list-inside text-gray-600">
            <li class="mb-4">
              <strong>Onywave</strong> - Développeur Full Stack (04/2024 - Présent)
              <br />
              <ul class="list-disc list-inside pl-5">
                <li>ColoringBook : Outil de création de documents pour l’impression (Frontend : TypeScript, Vite, React, Redux, FabricJS, Motion / Backend : Node.js, NestJS, TypeORM / Platform : Docker, Render.com, NeonDB, Supabase). <a href="https://github.com/willahh/coloringbook" class="text-pink-500 underline">GitHub</a></li>
                <li>Notizen : Outil de création de notes offline-first avec synchronisation (Frontend : Electron, TypeScript, React, Redux / Backend : Node.js, NestJS, TypeORM / Platform : Docker, Google GCP). <a href="https://github.com/willahh/notizen" class="text-pink-500 underline">GitHub</a></li>
              </ul>
            </li>
            <li class="mb-4">
              <strong>Electre</strong> - Développeur Full Stack (08/2019 - 04/2024)
              <br />
              Refonte portail de notices bibliographiques : Frontend (React, ClojureScript), Backend (Clojure, Java), DB (PostgreSQL, Apache Solr), API REST, Google Cloud Platform, GitLab CI/CD, TDD/BDD, DDD, Hexagonale, Event-Driven, Kubernetes.
            </li>
            <li class="mb-4">
              <strong>Goaland</strong> - Développeur Front End (01/2016 - 08/2019)
              <br />
              Easy2Retail : Outils SASS pour prospectus (Frontend : ExtJS, Javascript, MVC, IE6-IE10) et DAM. Projet e-commerce premium Roche Bobois : Intégration responsive, configurateur en ligne (jQuery, HTML/CSS, Adobe Scene 7).
            </li>
            <li class="mb-4">
              <strong>Goaland</strong> - Développeur (01/2012 - 08/2016)
              <br />
              Arsia : Outil collaboratif de production de documents InDesign en ligne (Frontend : Javascript, MVC, IE9, jQuery).
            </li>
            <li class="mb-4">
              <strong>Goaland</strong> - Développeur ActionScript/Javascript (01/2009 - 01/2012)
              <br />
              Sygesp : Systèmes de gestion (Frontend : Flash, ActionScript) et e-Boutique EDF (Flash/ActionScript).
            </li>
            <li class="mb-4">
              <strong>Goaland</strong> - Intégrateur/Webdesigner (01/2006 - 01/2009)
              <br />
              Intégration HTML/CSS/Javascript, maintenance CSS, compatibilité navigateurs (IE6-IE11).
            </li>
            <li class="mb-4">
              <strong>La Compagnie Littéraire</strong> - Webdesigner/Intégrateur (09/2003 - 08/2006)
              <br />
              Création de charte graphique, sites internet, mise à jour de contenus, mise en page sous QuarkXPress.
            </li>
          </ul>
  
          <!-- Formations / Timeline personnelle -->
          <h4 class="text-2xl text-gray-800 font-semibold mt-6 mb-2">Formations / Timeline Personnelle</h4>
          <ul class="list-disc list-inside text-gray-600">
            <li class="mb-2">2019-2023 : Projet Notizen (TypeScript, React, Redux, Electron, Postgres) et side projects (Firebase, React Native, NextJS, Clojure).</li>
            <li class="mb-2">2017-2019 : Apprentissage Common Lisp, Emacs-Lisp, Clojure, ergonomie claviers (Dvorak, Bépo), scènes 3D.</li>
            <li class="mb-2">2002-2005 : Sites web interactifs (Flash, MySQL, HTML, CSS, JS/PHP) pour Counter-Strike, maps Space-Hulk, graphismes abstraits, finaliste concours graphique le-match.com.</li>
          </ul>
  
          <!-- Centres d’Intérêt -->
          <h4 class="text-2xl text-gray-800 font-semibold mt-6 mb-2">Centres d’Intérêt</h4>
          <p class="text-gray-600">Plus technique : Réalisation d’interfaces utilisateur (Wireframe/Mockup), veille technologique sur les outils et langages. Plus perso : Famille (femme et fille), cuisine, nature, roller, country, musique de films et jeux vidéo, passion pour les vidéos YouTube sur la cuisine, voyages, architecture, ingénierie, maçonnerie, menuiserie, paysagisme.</p>
        </div>
      </div>
    </div>
  </section>