<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    {{ metadata.pages[page.url].title | default(metadata.default.title) }}
  </title>
  <meta
    name="description"
    content="{{ metadata.pages[page.url].description | default(metadata.default.description) }}"
  />
  <meta
    name="keywords"
    content="{{ metadata.pages[page.url].keywords | default(metadata.default.keywords) }}"
  />
  <meta name="author" content="William Ravel" />
  <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/dist/styles.css" />
  <style>
    body {
      min-height: 100vh;
    }
  </style>
</head>
<body
  class="font-loading leading-normal tracking-normal text-white bg-radial-[at_10%_1%] from-secondary-500 to-primary-400"
></body>
