<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>William Ravel - Développeur Freelance</title>
  <meta
    name="description"
    content="Portfolio de William Ravel, développeur freelance spécialisé en développement web."
  />
  <meta
    name="keywords"
    content="développeur, freelance, TypeScript, Node.js - NestJS - TypeORM, Vite, React, Redux, Redux Toolkit, FabricJS, Motion"
  />
  <meta name="author" content="William Ravel" />
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link rel="stylesheet" href="/dist/styles.css" />
</head>
