<div
  id="header"
  class="space-y-4 md:space-y-0 md:flex justify-between items-center gap-8 py-8 sticky top-0 transition-all duration-300 z-30"
>
  <div class="space-y-2">
    <h1 class="font-fira-mono font-medium text-3xl">William Ravel</h1>
    <h2 class="text-primary-100">Freelance React / NodeJS / <a href="https://clojure.org/" target="_blank" class="underline">Clojure</a></h2>
  </div>
  <div class="flex gap-6 text-primary-50 text-md md:text-sm items-center">
    <a
      href="/"
      class="px-4 py-2 rounded-full text-white bg-secondary-100/20 md:bg-transparent {% if page.url == '/' %}!text-primary-800 !bg-primary-400{% else %}hover:text-white{% endif %}"
      >A propos</a
    >
    <a
      href="/cv/"
      class="px-4 py-2 rounded-full text-white bg-secondary-100/20 md:bg-transparent {% if page.url == '/cv/' %}!text-primary-800 !bg-primary-400{% else %}hover:text-white{% endif %}"
      >CV</a
    >
    <a
      href="/projets/"
      class="px-4 py-2 rounded-full text-white bg-secondary-100/20 md:bg-transparent {% if page.url == '/projets/' %}!text-primary-800 !bg-primary-400{% else %}hover:text-white{% endif %}"
      >Projets</a
    >
  </div>
</div>
<div
  id="header-mask"
  class="fixed top-0 left-0 w-full h-48 md:h-32 z-10 backdrop-blur-xs opacity-0 transition-all duration-1000 border-b border-secondary-200/25 drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] pointer-events-none"
></div>
<style>
 
</style>
<script>
  const refresh = (headerMask, header) => {
    const isHeaderAtTop = window.scrollY <= 100;

    if (headerMask) {
      if (isHeaderAtTop) {
        headerMask.classList.add('opacity-0');
        headerMask.classList.remove('opacity-100');
      } else {
        headerMask.classList.remove('opacity-0');
        headerMask.classList.add('opacity-100');
      }
    }
  };

  document.addEventListener('DOMContentLoaded', () => {
    const headerMask = document.getElementById('header-mask');
    const header = document.getElementById('header');
    refresh(headerMask, header);
    window.addEventListener('scroll', () => {
      refresh(headerMask, header);
    });
  });
</script>
