<div class="md:flex justify-between items-center gap-8">
  <div class="text-justify">
    <h1 class="text-3xl">William Ravel</h1>
    <h2 class="text-primary-100">Freelance React / NodeJS / Clojure</h2>
  </div>
  <div class="flex gap-6 text-primary-50 text-xs items-center">
    <a
      href=""
      class="text-white hover:text-white bg-primary-400 rounded-full py-1 px-3"
      >A propos</a
    >
    <a href="" class="hover:text-white">CV</a>
    <a href="" class="hover:text-white">Projets</a>
  </div>
</div>
