<!DOCTYPE html>
<html lang="fr">ds
    {% include "./_includes/head.html" %}
    {% include "./_includes/header.html" %}
    {% include "./_includes/nav.html" %}
    {% include "./_includes/hero.html" %}
    {% include "./_includes/services.html" %}
    {% include "./_includes/cv.html" %}
    {% include "./_includes/pricing.html" %}
    {% include "./_includes/cta.html" %}
    {% include "./_includes/footer.html" %}
    {% include "./_includes/scripts.html" %}
</html>