<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>William Ravel - Développeur Freelance</title>
  <meta
    name="description"
    content="Portfolio de William Ravel, développeur freelance spécialisé en développement web."
  />
  <meta
    name="keywords"
    content="développeur, freelance, TypeScript, Node.js - NestJS - TypeORM, Vite, React, Redux, Redux Toolkit, FabricJS, Motion"
  />
  <meta name="author" content="William Ravel" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/dist/styles.css">
  <!-- <link
    rel="stylesheet"
    href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
  /> -->
<!--   
  <style>
    .gradient {
      background: linear-gradient(90deg, #4a90e2 0%, #9013fe 100%);
    }
  </style> -->
</head>
