@media print {
  /* @page {
    margin: 20mm;
  } */
  @page {
    margin: 0; /* Supprime les marges par défaut où les en-têtes sont placés */
  }
  .container {
    margin: 20mm;
    padding: 20mm;
  }

  div {
    color: #000;
  }

  .break-page-before {
    page-break-before: always !important;
  }

  .break-page-after {
    page-break-after: always !important;
  }

  .break-page-avoid {
    page-break-inside: avoid !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 !important;
    padding: 0 !important;
  }

  #header button,
  #header-mask,
  #header .flex.items-center.gap-6 {
    display: none !important;
  }

  .container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .border-primary-500 {
    border: 1px solid #ccc !important;
  }
}
