<!DOCTYPE html>
<html lang="fr">
    {% include "./_includes/head.html" %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const triggers = document.querySelectorAll('.tooltip-trigger');
            let currentTooltip = null;
            let targetX = 0,
                targetY = 0,
                currentX = 0,
                currentY = 0;
            const easing = 0.1; // Contrôle le "momentum" (plus petit = plus lent) Fonction pour animer le mouvement avec momentum
            function animate() {
                if (! currentTooltip) 
                    return;
                
                currentX += (targetX - currentX) * easing;
                currentY += (targetY - currentY) * easing;
                currentTooltip.style.transform = `translate(${currentX}px, ${currentY}px)`;
                requestAnimationFrame(animate);
            }
            triggers.forEach((trigger) => {
                const tooltipId = trigger.getAttribute('data-tooltip-id');
                const tooltip = document.getElementById(tooltipId);
                trigger.addEventListener('mouseenter', () => {
                    tooltip.classList.remove('hidden');
                    tooltip.classList.add('visible');
                    currentTooltip = tooltip;
                    requestAnimationFrame(animate);
                });
                trigger.addEventListener('mouseleave', () => {
                    tooltip.classList.remove('visible');
                    tooltip.classList.add('hidden');
                    currentTooltip = null;
                });
                trigger.addEventListener('mousemove', (e) => {
                    const rect = trigger.getBoundingClientRect();
                    targetX = e.clientX - rect.left + 20; // Décalage de 20px à droite du curseur
                    targetY = e.clientY - rect.top + 20; // Décalage de 20px sous le curseur
                });
            });
        });
    </script>
    {% macro project(title, description, link, techCategories) %}
        <div class="[&_a]:underline">
            <h4 class="tooltip-trigger text-primary-200 font-semibold" data-tooltip-id="tooltip-{{ title | lower | replace(' ', '-') }}">{{ title }}</h4>
            <p>{{ description }}
                {% if link %}
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                {% endif %}
            </p>
            <ul class="flex flex-col gap-1 mt-2">
                {% for category in techCategories %}
                    <li
                        class="">
                        {# <span class="font-semibold">{{ category.name }}</span> #}
                        {% for item in category.items %}
                            <span class="bg-primary-500/20 border border-primary-500 text-primary-200 rounded-md py-0.5 px-1 text-xs select-none">{{ item }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <!-- Tooltip -->
            <div
                id="tooltip-{{ title | lower | replace(' ', '-') }}"
                class="tooltip hidden absolute z-50 w-96 bg-white shadow-lg rounded-lg p-4 pointer-events-none">
                <img src="https://via.placeholder.com/300x150" alt="{{ title }}" class="w-full h-auto rounded-md mb-2">
                <p class="text-sm text-gray-700">{{ description }}</p>
            </div>
        </div>
    {% endmacro %}
    <div class="container max-w-3xl mx-auto p-8 py-20 font-fira-code">
        {% include "./_includes/header.html" %}
        <div
            class="sm:grid grid-cols-2 gap-x-10 gap-y-12 sm:grid-cols-[22ch_1fr] sm:relative sm:-left-62 sm:w-240" >
            <!-- item -->
            <div class="sm:text-right">Onywave<br> 04/2024 - Présent</div>
            <div class="flex flex-col gap-2">
                <h3 class="text-white ">Développeur full-stack</h3>
                <div class="flex flex-col gap-y-12">
{{ project(
    "ColoringBook",
    "Outil de création de documents pour l’impression. Créer un livre, ajouter des pages, ajouter des éléments graphiques, des dessins et du texte. Sauvegarde au format PDF, impression au format PDF.",
    "https://github.com/willahh/coloringbook",
    [
        { "name": "Frontend :", "items": ["TS", "Vite", "React", "Redux", "Redux Toolkit", "FabricJS", "Motion"] },
        { "name": "Backend :", "items": ["Node.js", "NestJS", "TypeORM"] },
        { "name": "Platform :", "items": ["Docker", "Render.com", "NeonDB", "Supabase"] }
    ]
) }}
                    {{ project(
    "Notizen",
    "Outil de création de notes, approche offline first avec synchronisation des données locale vers une base de données partagée.",
    "https://github.com/willahh/notizen",
    [
        { "name": "Frontend :", "items": ["Electron", "TS", "ReactCreateApp", "React", "Redux", "Redux Toolkit", "Slate"] },
        { "name": "Backend :", "items": ["Node.js", "NestJS", "TypeORM"] },
        { "name": "Platform :", "items": ["Docker", "Google GCP"] }
    ]
) }}
                </div>
            </div>
            <!-- /item -->






            <!-- item -->
            <div class="sm:text-right">Electre<br> 08/2019 - 04/2024</div>
            <div class="flex flex-col gap-2">
                <h3 class="text-white ">Développeur full-stack</h3>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "Refonte portail
",
    "Electre est une plateforme spécialisée dans la gestion et la diffusion de notices bibliographiques pour le secteur du livre. Le portail de notices permet aux utilisateurs (bibliothèques, éditeurs, libraires) de consulter, rechercher et gérer des fiches détaillées de livres, ainsi que de passer des commandes via un système intégré.

    
",
    "https://dataservices.electre.com/",
    [
        { "name": "", "items": ["React", "Clojure", "ClojureScript", "PostgreSQL", "Apache Solr", "Google Cloud Platform (GCP)", "GitLab", "Test Driven Development", "Java", "Google Cloud Dataflow"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->













            <!-- item -->
            <div class="sm:text-right">Goaland<br> 01/2016 - 08/2019</div>
            <div class="flex flex-col gap-2">
                <h3 class="text-white ">Développeur Front End</h3>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "Refonte portail
",
    "Goaland est un éditeur de logiciels proposant une offre PIM (Product Information Management), un outil de création de catalogues automatisés basé sur Adobe InDesign Server pour la génération de documents et un frontend interactif, ainsi que des services d’automatisation de contenus marketing et de gestion d’actifs numériques (DAM). Ces outils sont utilisés par les secteurs de la grande distribution et du commerce pour améliorer l’efficacité des équipes commerciales et digitales.",
    "https://www.goaland.com",
    [
        { "name": "", "items": ["Javascript", "jQuery", "Bootstrap", "ExtJS", "PHP", "Sencha Touch", "ActionScript 3", "Accessibilité", "Illustrator", " Photoshop"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->







        </div>
    </div>
</html></html></body></html>