<!DOCTYPE html>
<html lang="fr" class="print:text-[11px]">
    {% include "./_includes/head.html" %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {
                const triggers = document.querySelectorAll('.tooltip-trigger');
                let currentTooltip = null;
                let targetX = 0,
                    targetY = 0,
                    currentX = 0,
                    currentY = 0;
                const easing = 0.1; // Contrôle le "momentum" (plus petit = plus lent) Fonction pour animer le mouvement avec momentum
                function animate() {
                    if (! currentTooltip) 
                        return;
                    
                    currentX += (targetX - currentX) * easing;
                    currentY += (targetY - currentY) * easing;
                    currentTooltip.style.transform = `translate(${currentX}px, ${currentY}px)`;
                    requestAnimationFrame(animate);
                }
                triggers.forEach((trigger) => {
                    const tooltipId = trigger.getAttribute('data-tooltip-id');
                    const tooltip = document.getElementById(tooltipId);
                    trigger.addEventListener('mouseenter', () => {
                        tooltip.classList.remove('hidden');
                        tooltip.classList.add('visible');
                        currentTooltip = tooltip;
                        requestAnimationFrame(animate);
                    });
                    trigger.addEventListener('mouseleave', () => {
                        tooltip.classList.remove('visible');
                        tooltip.classList.add('hidden');
                        currentTooltip = null;
                    });
                    trigger.addEventListener('mousemove', (e) => {
                        const rect = trigger.getBoundingClientRect();
                        targetX = e.clientX - rect.left + 20; // Décalage de 20px à droite du curseur
                        targetY = e.clientY - rect.top + 20; // Décalage de 20px sous le curseur
                    });
                });
            }
        });
    </script>
    {% include "./_includes/header.html" %}
    {% macro project(title, description, link, techCategories) %}
        <div class="[&_a]:underline">
            <div
                class="text-md tooltip-trigger text-white print:text-black font-semibold"
                data-tooltip-id="tooltip-{{ title | lower | replace(' ', '-') }}">{{ title }}</div>
            <div class="print:text-black">{{ description | safe }}
                {% if link %}
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                {% endif %}
            </div>
            <ul class="flex flex-col gap-1 mt-2">
                {% for category in techCategories %}
                    <li
                        class="">
                        {# <span class="font-semibold">{{ category.name }}</span> #}
                        {% for item in category.items %}
                            <span class="py-0.5 px-1 my-4 bg-primary-500/20 border border-primary-500 text-primary-200 print:text-black rounded-md text-xs select-none">{{ item }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <!-- Tooltip -->
            <div
                id="tooltip-{{ title | lower | replace(' ', '-') }}"
                class="tooltip hidden absolute z-50 w-96 bg-white shadow-lg rounded-lg p-4 pointer-events-none">
                {# <img src="https://via.placeholder.com/300x150" alt="{{ title }}" class="w-full h-auto rounded-md mb-2"> #}
                <p class="text-sm text-gray-700 print:text-black">{{ description }}</p>
            </div>
        </div>
    {% endmacro %}
    <div class="container max-w-3xl print:max-w-none mx-auto p-8 !pt-0 font-fira-code">
        <div
            id="header-mask"
            class="fixed top-0 left-0 w-full h-48 md:h-32 z-10 backdrop-blur-xs opacity-0 transition-all duration-1000 border-b
                border-secondary-200/25 drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] pointer-events-none"></div>
        <div class="not-print:sm:-left-62 gap-x-10 sm:grid sm:grid-cols-[22ch_1fr] print:grid print:grid-cols-[22ch_1fr] sm:relative
                sm:w-240">
            <div></div>
            <h2 class="text-white print:text-black text-sm mb-2 print:text-secondary-500">Expériences</h2>
        </div>
        <div
            class="sm:grid sm:grid-cols-[22ch_1fr] print:grid print:grid-cols-[22ch_1fr] not-print:sm:-left-62 gap-x-10 gap-y-12
                sm:relative sm:w-240">
            <!-- item Onywave -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0 !pt-0">Onywave<br> 04/2024 - Présent</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Développeur Full stack, UI designer</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "ColoringBook",
    "<p class=\"mb-3\">Outil de création de documents pour l’impression. Créer un livre, ajouter des pages, ajouter des éléments graphiques, des dessins et du texte. Sauvegarde au format PDF, impression au format PDF.</p>
     <ul class=\"flex list-disc mx-5 flex-col gap-1 mb-3\">
    <li><a href=\"https://coloringbook-frontend.onrender.com/\" target=\"_blank\">coloringbook-frontend.onrender.com</a></li>
    <li><a href=\"https://github.com/willahh/coloringbook\" target=\"_blank\">github.com/willahh/coloringbook</a></li>
    </ul>

",
    "",
    [
        { "name": "Frontend :", "items": ["TS", "Vite", "React", "Redux", "Redux Toolkit", "FabricJS", "Motion"] },
        { "name": "Backend :", "items": ["Node.js", "NestJS", "TypeORM"] },
        { "name": "Platform :", "items": ["Docker", "Render.com", "NeonDB", "Supabase"] }
    ]
) }}
                    {{ project(
    "Notizen",
    "<p>Outil de création de notes, approche offline first avec synchronisation des données locale vers une base de données partagée.</p>",
    "https://github.com/willahh/notizen",
    [
        { "name": "Frontend :", "items": ["Electron", "TS", "ReactCreateApp", "React", "Redux", "Redux Toolkit", "Slate"] },
        { "name": "Backend :", "items": ["Node.js", "NestJS", "TypeORM"] },
        { "name": "Platform :", "items": ["Docker", "Google GCP"] }
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Electre -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0">Electre<br> 08/2019 - 04/2024</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Développeur full-stack</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "Refonte portail
",
    "
    <ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Contribution à la refonte du portail web pour la consultation et recherche de notices de livres, collaboration avec équipes métiers, fonctionnelles et techniques dans un environnement de travail Agile/Scrum.</li>
<li>Participation au développement du frontend en React / ClojureScript et du backend en Clojure / Java, avec PostgreSQL et Apache Solr pour les recherches de notices via des index optimisés.</li>
<li>Participation au développement de l’API REST externe fournie aux clients pour gérer leurs notices personnelles, paniers et bons de commande.</li>
<li>Application du Domain Driven Design (DDD) pour modéliser le domaine métier, du TDD, ainsi que du BDD avec tests en Gherkin</li>
<li>Utilisation d’architectures Hexagonale, Event-Driven, et communication via Pub/Sub sur Google Cloud Platform.</li>
<li>Monitoring avec DataDog, création de dashboards et optimisation des performances.</li>
<li>Déploiement CI/CD via GitLab. Gestion des environnements colorisés et clusters Kubernetes, assurés par une équipe de DevOps.</li>
</ul>

    
",
    "https://dataservices.electre.com/",
    [
        { "name": "", "items": ["React", "Clojure", "ClojureScript", "PostgreSQL", "Redux-Toolkit", "Apache Solr", "Google Cloud Platform (GCP)", "Docker", "Kubernetes", "GitLab", "Test Driven Development", "Java", "Google Cloud Dataflow", "Kubernetes"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Goaland -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0 break-page-before">Goaland<br> 01/2016 - 08/2019</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Développeur Front-end, UI designer</div>
                <div class="flex flex-col gap-y-12">
                    <h2 class="-mb-8 text-white print:text-black font-bold">Logiciel SASS de production de prospectus pour la grande distribution</h2>
                    {{ project(
    "Module Chemin de fer",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Design des interfaces</li>
<li>Création du front d'un module chemin de fer de préparation de documents et prospectus</li>
<li>Drag and drop de produits depuis un chutier vers des pages</li>
<li>Affichage des promotions sur les produits dans la page</li>
<li>Interactions sur les pages : zoom, déplacement</li>
<li>Annotation sur page avec différents outils : punaise, rectangle, tracé à la main</li>
<li>Interface avec panneaux redimensionnables / repliables</li>
<li>Utilisation au clavier / Raccourcis clavier.</li>
<li>Compatibilité IE6-IE10, Échanges XHR au format JSON, +200 vues.</li>
</ul>

    ",
    "https://www.goaland.com",
    [
        { "name": "", "items": ["Javascript", "jQuery", "Bootstrap", "ExtJS", "PHP", "MVC", "IE6", "IE10", "SPA", "Illustrator", " Photoshop"]}
    ]
) }}
                    {{ project(
    "Module DAM (Digital asset Management)",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Création du front d'une galerie paginée avec différents outils et vues (liste / vignette), agrandissement / réduction des images</li>
<li>Interface avec panneaux redimensionnables / repliables</li>
<li>Compatibilité IE6-IE10, Échanges XHR au format JSON</li>
</ul>

    ",
    "",
    [
        { "name": "", "items": ["Javascript", "ExtJS", "jQuery", "PHP", "IE6", "IE10", "SPA", "Illustrator", " Photoshop"]}
    ]
) }}
                    {{ project(
    "Projet e-commerce premium",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Intégration responsive HTML / CSS / Javascript à partir de maquettes graphiques fournies par une agence</li>
<li>Création d’un système de grille responsive à 6 points de rupture : mobile / tablette / petite résolution / résolution standard / très grande résolution. Chargement des images dans la résolution qui convient le mieux selon le point de rupture</li>
<li>Configurateur en ligne responsive et interactif permettant de charger des modèles et de les visualiser sous différents angles avec différents tissus / accessoires.
Création du front - SPA javascript IE10, jQuery</li>
<li>Réalisation des tâches Grunt pour les différents modules</li>
<li>Optimisation des performances et de la taille des bundles js : Le site doit être chargé rapidement en mobile en 3G, et consultable sur de très grande résolution, utilisation de Adobe Scene 7 pour la gestion des ressources statiques</li>
<li>Accessibilité : Intégration des normes d’accessibilité WAI en partenariat avec une société spécialisée</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": ["Javascript", "jQuery", "Grunt", "CSS", "PHP", "IE9", "IE11", "SPA", "Illustrator", " Photoshop"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Goaland 2/3 -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0 break-page-before">Goaland<br> 01/2012 - 08/2016</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Développeur front-end, UI designer</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "Arsia - Logiciel SASS - Outil collaboratif de production de document / catalogues InDesign en ligne",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Création du front d'un outil d’édition intéractif de documents papier, brochure, catalogue. Ajout de pages, déplacement dans les pages. Navigation, création / redimensionnement de zones, dépôt de commentaires (punaises, rectangles, tracés). Utilisation au clavier / Raccourcis clavier</li>

<li>Divers modules avec mapping des données vers des emplacements en drag and drop</li>
</ul>

    ",
    "",
    [
        { "name": "", "items": ["Javascript", "jQuery", "Bootstrap", "Grunt", "CSS", "PHP", "IE9", "IE11", "SPA", "Illustrator", " Photoshop"]}
    ]
) }}
                    {{ project(
    "Module DAM (Digital asset Management)",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Création du front d'une galerie paginée au look Adobe Bridge avec différents outils et vues (liste / vignette), agrandissement / réduction des images</li>
<li>Interface avec panneaux redimensionnables / repliables</li>
<li>Compatibilité IE6-IE10, Échanges XHR au format JSON</li>
</ul>

    ",
    "",
    [
        { "name": "", "items": ["Javascript", "jQuery", "Bootstrap", "Handlebar", "PHP", "IE6", "IE10", "SPA", "Illustrator", " Photoshop"]}
    ]
) }}
                    {{ project(
    "Site web",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Design et intégration du site web - responsive</li>
</ul>

    ",
    "",
    [
        { "name": "", "items": ["Bootstrap", "HTML", "CSS", "Illustrator", " Photoshop", "Reponsive"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Goaland 3/4 -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0">Goaland<br> 01/2009 - 01/2012</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Développeur ActionScript et Javascript - UI designer</div>
                <div>Logiciel Sygesp - SASS - Système de gestion de production</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "Outil d’édition des zones ",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Responsable de la conception UI/UX et des améliorations quotidiennes</li>
<li>Création d'un outil interactif et animé en Flash et Actionscript, d’édition de documents papier, brochure, catalogue.</li>
<li>Outils de dessin sur la page au crayon feutre virtuel</li>
<li>Navigation et zoom avec animation</li>
<li>Barre d'outils pour intéragir : main, flèche de sélection, traçage de zone, toggle de commentaires</li>
<li>Raccourcis clavier pour chaque fonction</li>
<li>Création et redimensionnement de zones via des ancres similaire à InDesign</li>
<li>Dépôt de commentaires (punaises, rectangles, tracés).</li>
<li>Échanges xhr au format xml</li>
</ul>

    ",
    "",
    [
        { "name": "", "items": ["Flash", "ActionScript", "Illustrator", " Photoshop"]}
    ]
) }}
                    {{ project(
    "Outil de crop d’image",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Création d'un outil en Flash et Actionscript permettant de cropper une image 
    dans une zone prédéfinie.</li>
<li>Zoom / Déplacement / Rotation</li>
<li>Symétries horizontales et verticales</li>
<li>Saisie à la main précises des coordonnées et dimensions : x, y, angle, largeur, hauteur, scale x, scale y</li>
<li>Zoom débordant ou centré dans le conteneur</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": []}
    ]
) }}
                    {{ project(
    "Outil d’annotation d’une page",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Création d'un outil intéractif permettant de naviguer (déplacement / zoom) et d’ajouter 
    des commentaires sous forme de punaise.</li>
<li>Création du front - Actionscript 2 / 3</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": []}
    ]
) }}
                    {{ project(
    "Module Flipbook",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Création d'une visioneuse de documents, compatible iPad 4 et Android. 
    Nombre de pages illimitées avec un système de tampon de 3 pages visibles à l'écran et de suppression 
    de celles qui n'apparaissent plus pour compatibilité mémoire sur les tablettes.</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": ["ExtJS", "Sencha Touch", "HTML5", "Javascript"]}
    ]
) }}
                    {{ project(
    "Sygesp",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Participation à l’élaboration de l’interface et de l’ergonomie du produit.</li>
<li>Rédaction de la documentation utilisateur au format web.</li>
<li>Maintenance de CSS avancés dans le temps</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": []}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Goaland 4/4 -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0">Goaland<br> 01/2006 - 01/2009</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">UI designer, intégrateur web</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">  
<li>Intégration (découpage HTML !) HTML / CSS / Javascript de différents projets allant de boutiques en ligne /
     CRM / Sites événementiel / Sites luxe et back-offices</li>
<li>Réalisation de maquettes avec Photoshop et Illustrator</li>
<li>Réalisation de widgets HTML Ajax</li>
<li>Compatibilité des navigateurs IE6 à IE11</li>

    ",
    "",
    [
        { "name": "", "items": ["HTML", "CSS", "Javascript", "jQuery", "Ajax", "Maquettes graphique",  "Photoshop", "Illustrator"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item La Compagnie Littéraire -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0">La Compagnie Littéraire<br> 09/2003 - 08/2006</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">Graphic designer, intégrateur</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
    <li>Création de la charte graphique</li>
    <li>Création du site internet avec WordPress</li>
    <li>Mise à jour régulière des contenus (auteurs, livres)</li>
    <li>Mise en page de livres sous QuarkXPress.</li>
</ul>
    ",
    "",
    [
        { "name": "", "items": ["Maquettes graphique",  "Photoshop", "Illustrator", "Quark XPress", "HTML", "CSS"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
            <!-- item Self-employed -->
            <div class="sm:text-right print:text-left print:text-gray-500 pt-10 md:pt-0 print:pt-0">Self-employed<br> 01/2002 - 01/2009</div>
            <div class="flex flex-col gap-2">
                <div class="text-md text-primary-200">UI designer, web developer</div>
                <div class="flex flex-col gap-y-12">
                    {{ project(
    "",
    "
<ul class=\"flex list-disc mx-5 flex-col gap-2 \">
<li>Designé et développé plus d'une vingtaines de sites web <br> 
(Flash ❤️, Actionscript, PHP, MySQL, HTML, CSS, JS) pour la communauté du mode Counter-Strike du jeu Half-Life.

<li>Suivi ma passion pour le graphisme et le développement et amélioré mes compétences 
    pendant 7 ans en conception d'interface utilisateur, CSS, HTML et JavaScript</li>


</ul>
    ",
    "",
    [
        { "name": "", "items": ["Flash", "Actionscript", "Javascript", "PHP", "MYSQL", "HTML", "CSS", "UI", "UX", "Illustrator", " Photoshop"]}
    ]
) }}
                </div>
            </div>
            <!-- /item -->
        </div>
        
        <!-- compétences -->
        <div class="break-page-before not-print:sm:-left-62 gap-x-10 sm:grid sm:grid-cols-[22ch_1fr] print:grid print:grid-cols-[22ch_1fr] sm:relative
                sm:w-240 print:text-black mt-20">
            <div>
                <h2 class="text-white print:text-black">Compétences</h3>
            </div>
            <div>
                <ul class="flex list-disc mx-5 flex-col gap-2">
                    <li>
                        <div>
                            Languages :
                        </div>
                        Javascript, TypeScript, Clojure, PHP, CSS, Java, Bash, Action-Script, Emacs-Lisp
                    </li>
                    <li>
                        <div>
                            Frameworks / librairies :
                        </div>
                        React, Redux, NextJS, NestJS, TypeORM, Tailwind CSS, Bootstrap, jQuery, Ext-JS, Semantic
                                                UI
                    </li>
                    <li>
                        <div>
                            Systèmes de données et recherche :
                            <div>
                                PostgreSQL, MySQL, Apache
                                                                                                Solr
                            </li>
                            <li>
                                <div>
                                    Plateformes et API Google Cloud Platform :
                                </div>
                                Dataflow, Storage, Pub Sub, Kubernetes, Gitlab : Board, issues, CI / CD, API REST,
                                Render.com
                            </li>
                            <li>
                                <div>
                                    Architectures :
                                </div>
                                Hexagonale, DDD, Event-Driven, MVC, Trois
                                tiers
                            </li>
                            <li>
                                <div>
                                    Testing :
                                </div>TDD Test Driven Development, BDD Behaviour Driven
                                                                Development
                            </li>
                            <li>
                                <div>
                                    Méthodologies :
                                </div>
                                Agile, Scrum (sprint planning /poker planning, rétros, …) Outils Git, SVN, VSCode, IntelliJ, Emacs, Eclipse,
                                Sublime
                            </li>
                            <li>
                                <div>
                                    Outils graphiques :
                                </div>
                                Figma, suite Adobe : Photoshop / Illustrator / Indesign /
                                XD
                            </li>
                        </ul>
                    </li>
                </div>
            </li>
        </div>
        <!-- /compétences -->
        <!-- Contact -->
        <div class="print:text-black not-print:sm:-left-62 gap-x-10 sm:grid sm:grid-cols-[22ch_1fr] print:grid print:grid-cols-[22ch_1fr] sm:relative
                sm:w-240 mt-20">
            <div>
                <h2 class="text-white print:text-black text-md">Contact</h3>
            </div>
            
            <div>
                <ul class="flex list-disc mx-5 flex-col gap-2">
                    <li>Email:
                        <a href="mailto:wravel@gmail.com" class="underline">wravel@gmail.com</a>
                    </li>
                    <li>Linkedin :
                        <a href="https://www.linkedin.com/in/wravel/" target="_blank" class="underline">linkedin.com/in/wravel</a>
                    </li>
                    <li>Github :
                        <a href="https://github.com/willahh" target="_blank" class="underline">github.com/willahh</a>
                    </li>
                    <li>X:
                        <a href="https://x.com/willahhravel" target="_blank" class="underline">x.com/willahhravel</a>
                    </li>
                </div>
            </li>
        </div>
        <!-- /Contact -->
    </li>
</html></div></html></html></body></html>