<!DOCTYPE html>
<html lang="fr">
    {% include "./_includes/head.html" %}
    <div class="container max-w-2xl mx-auto p-8 py-20 font-fira-code">
        {% include "./_includes/header.html" %}
        <div class="max-w-md flex-row">
            <p class="mb-4">
                <span class="text-secondary-200">Développeur Front-end</span>
                avec plus de 15 ans d’expérience, spécialisé dans la création d’interfaces utilisateur intuitives et
                performantes.
            </p>
            <p class="mb-4">
                Expert en
                <span class="text-secondary-200">JavaScript</span>, React, CSS, HTML et accessibilité (WAI), avec une maîtrise
                    approfondie de Node.js, PHP, Clojure et des bases de données (PostgreSQL, MySQL, Apache Solr). Compétent en
                    architectures modernes (Hexagonale, DDD), méthodologies Agile/TDD, et outils comme Google Cloud Platform et GitLab.
                    Engagé dans l’innovation et la veille technologique pour livrer des solutions de haute qualité.
            </p>
            <p>
                Follow me on
                <a href="" class="underline">github.com/wilahh</a>,
                <a href="" class="underline">x.com/willahhravel</a>, or send me an email at
                                                                                    wravel@gmail.com.
            </p>
        </div>
    </div>
</html>