<!DOCTYPE html>
<html lang="fr">
    {% include "./_includes/head.html" %}
    <div class="container max-w-3xl mx-auto p-8 py-0 md:py-20 font-fira-code">
        {% include "./_includes/header.html" %}
        <div
            class="columns-1 sm:columns-2 gap-22 mb-6"
            style=" text-justify: inter-word; hyphens: auto; word-spacing: -0.3em; letter-spacing: 0.02em;">
            <p class="mb-4">
                <span class="text-secondary-200">Développeur
                    <strong>Front-end</strong>
                </span>
                avec plus de 15 ans d’expérience, spécialisé dans la création d’interfaces utilisateur intuitives et
                performantes.
            </p>
            <p class="mb-4">
                Expert en
                <span class="text-secondary-200">JavaScript</span>,
                <span class="text-secondary-200 font-bold">React</span>,
                <span class="text-secondary-200 font-bold">CSS</span>, HTML et accessibilité (WAI), avec une maîtrise approfondie de
                    Node.js, PHP,
                <span class="text-primary-100">Clojure</span>
                et des bases de données (PostgreSQL, MySQL, Apache Solr).</p>
            <p>Compétent en architectures modernes Hexagonale,
                <span class="text-primary-100">DDD</span>,
                <span class="text-nowrap">méthodologies Agile/TDD</span>, et outils comme Google Cloud Platform et GitLab.
            </p>
        </p>
    </div>
    <div>
        <p class="mb-4 text-center">
            Jetez un œil à mon dernier projet :
            <a
                href="https://coloringbook-frontend.onrender.com/"
                target="_blank"
                class="inline-block bg-secondary-700/20 rounded-md py-2 px-4 hover:bg-secondary-700 transition-all text-lg md:text-xl
                    my-4">
            Coloringbook</a>
        </p>
        <p class="mb-4 text-lg md:text-base">
            Contact :
            <span class="inline-flex flex-wrap gap-4 gap-x-8 md:gap-2 items-center">
                <a href="mailto:wravel@gmail.com" class="underline hover:text-secondary-700 transition-all">wravel@gmail.com</a>
                <span class="hidden md:inline">-</span>
                <a href="https://www.linkedin.com/in/wravel/" target="_blank" class="underline hover:text-secondary-700 transition-all">
                linkedin.com/in/wravel</a>
                <span class="hidden md:inline">-</span>
                <a href="https://github.com/willahh" target="_blank" class="underline hover:text-secondary-700 transition-all">
                github.com/willahh</a>
                <span class="hidden md:inline">-</span>
                <a href="https://x.com/willahhravel" target="_blank" class="underline hover:text-secondary-700 transition-all">
                x.com/willahhravel</a>
            </span>
        </p>
    </div>
</html></div></html>