<!DOCTYPE html>
<html lang="fr">
    {% include "./_includes/head.html" %}
    <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif">
        <div class="container max-w-2xl mx-auto p-8 py-20 font-fira-code">
            {% include "./_includes/header.html" %}
            {% include "./_includes/apropos.html" %}
        </div>
    </body>
</html>