<!DOCTYPE html>
<html lang="fr">
  {% include "./_includes/head.html" %}
    <div class="container max-w-3xl mx-auto p-8 !pt-0 md:py-20 font-fira-code">
      {% include "./_includes/header.html" %}
      <p>Liste de mes projets récents...</p>
      <!-- Ajoutez votre contenu projets ici -->
    </div>
  </body>
</html>